body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content {
    border: 1px solid purple;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

/* top content */
.top-content {
    border: 1px solid blue;
    display: flex;
    justify-content: center;

}

.left, .right {
    border: red solid 1px;
}


.right {
    background-color: grey;
}

