body {
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 300px;
}
.content {
    width: 700px;
    border: 1px solid purple;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

/* top content */
.top-content {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;

}

.left, .right {
    border: red solid 1px;
}

.left {
    flex-wrap: wrap;
    width: 400px;
}

.right {
    background-color: grey;
}

/* text */